@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body
{
    font-family: 'Open Sans', sans-serif;
}

.code, .hack, .hack blockquote, .hack code, .hack em, .hack h1, .hack h2, .hack h3, .hack h4, .hack h5, .hack h6, .hack strong
{
    font-family: 'Open Sans', sans-serif;
}
